@using EDeanery.Host.Models
@model DormitoryRoomGetModel

<!DOCTYPE html>

<html>
<head>
    <title>Dormitory: @Model.DormitoryRoomName</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/deleteEntity.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>

    <script>
        var dormitoryRoomId = @Model.DormitoryRoomId;
        
        function onBodyLoad() {
            $("#deleteDormitoryRoom").click(function() {
                var dormitoryRoomId = @Model.DormitoryRoomId;
                deleteEntity("/Dormitory/DeleteDormitoryRoom?dormitoryId=" + dormitoryRoomId);
                window.location.href = "@Url.Action("Index")";
            });
        }
    </script>
</head>
<body onload="onBodyLoad()">
@await Html.PartialAsync("NavBar")
<div id="studentDetailedView">
    <h1>Dormitory room: @Model.DormitoryRoomName</h1>
    <div class="row">
        <label class="control-label col-sm-3">Dormitory: </label>
        <div class="col-sm-6">@Html.DisplayFor(m => m.Dormitory.Name)</div>
    </div>
    <div class="row">
        <label class="control-label col-sm-3">Max count: </label>
        <div class="col-sm-6">@Html.DisplayFor(m => m.MaxCountInRoom)</div>
    </div>
    <div class="row">
        <label class="control-label col-sm-3">Free spacess: </label>
        <div class="col-sm-6">@Html.DisplayFor(m => m.FreeSpacesCount)</div>
    </div>
    <div class="row">
        <label class="control-label col-sm-3">Students: </label>
        <div class="col-sm-13">
            @await Html.PartialAsync("../Student/ViewStudents", (List<StudentGetModel>) ViewBag.Students)
        </div>
    </div>
    <div class="row">
        <div class="btn-group btn-group-justified">
            @Html.ActionLink("Update", "AddOrUpdateDormitoryRoom",
                new {add = "false", dormitoryRoomId = Model.DormitoryRoomId},
                new {@class = "btn btn-warning col-sm-10"})
            <a id="deleteDormitoryRoom" class="btn btn-danger col-sm-10">Delete</a>
        </div>
    </div>
</div>
</body>
</html>