@using EDeanery.Host.Models
@model StudentPostModel

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Header</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/setSpecialitiesByFaculty.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    
    <script>
        function onBodyLoad() {
            $("#facultiesSelect").change(() => {
                var facultyId = $("#facultiesSelect option:selected").val();
                console.log(facultyId);
                setSpecialtiesByFacultyId(facultyId);
            });
        }
    </script>
</head>
<body onload="onBodyLoad()">
@await Html.PartialAsync("NavBar")
<div>
    <div id="addOrUpdateContainer">
        <h1>@ViewBag.Header</h1>
        @{
            <form action="@Url.Action("AddOrUpdateStudent", new {add = Context.Request.Query["add"]})" method="post" class="form-horizontal">
                @Html.HiddenFor(m => m.StudentId)
                <div class="form-group">
                    <label class="control-label col-sm-2">Passport Identifier: </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.PassportIdentifier, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.PassportIdentifier)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Last Name: </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">First Name: </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Father's Name: </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.FathersName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.FathersName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Birth Date: </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               data-val="true"
                               data-val-required="The BirthDate field is required."
                               id="BirthDate"
                               name="BirthDate"
                               type="date"/>
                        @Html.ValidationMessageFor(m => m.BirthDate)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Start Of Learning Date: </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               data-val="true"
                               data-val-required="The StartOfLearningDate field is required."
                               id="StartOfLearningDate"
                               name="StartOfLearningDate"
                               type="date"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Email: </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(s => s.Email, new {type = "email", @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Phone Number: </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(s => s.PhoneNumber, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Identification Code: </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.IdentificationCode, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.IdentificationCode)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Student Ticket Id: </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.StudentTicketId, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.StudentTicketId)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Faculty: </label>
                    <div class="col-sm-10">@Html.DropDownListFor(m => m.FacultyId,
                                               (IEnumerable<SelectListItem>) ViewBag.Faculties,
                                               null,
                                               new {Id = "facultiesSelect", @class = "form-control"})</div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Speciality: </label>
                    <div class="col-sm-10">@Html.DropDownListFor(m => m.SpecialityId,
                                               (IEnumerable<SelectListItem>) ViewBag.Specialities,
                                               null,
                                               new {Id = "specialitiesSelect", @class = "form-control"})</div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Course: </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Course, new {@class = "form-control", type = "number"})
                        @Html.ValidationMessageFor(m => m.Course)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">On budget: </label>
                    <div class="col-sm-10">@Html.CheckBoxFor(m => m.OnBudget, new {@class = "form-control"})</div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-default col-sm-10 col-sm-offset-2"/>
                </div>
            </form>
        }
    </div>
</div>
</body>
</html>