@using EDeanery.Host.Models
@model List<StudentGetModel>

<script src="@Url.Content("~/js/findStudents.js")"></script>
<div>
    <div class="col-sm-13">

        <div class="input-group">
            <div class="input-group-btn" style="width: 300px">
                <input type="text" class="form-control d-inline-block" placeholder="Search" id="searchQuery"/>
            </div>
            <div class="input-group-btn" style="width: 120px;">
                <select id="searchType" class="form-control d-inline-block">
                    <option>Full name</option>
                    <option>Group</option>
                </select>
            </div>
            <div class="input-group-btn d-inline-block">
                <button id="searchStudentsBtn" class="btn btn-primary" type="button" onclick="onFindStudents()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </div>

    <table id="studentsTable" class="table table-striped">
        <thead>
        <th>FullName</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Identification Code</th>
        <th>Birth Date</th>
        <th>Passport Identifier</th>
        <th>Student Ticket</th>
        <th>Faculty</th>
        </thead>
        <tbody>
        @foreach (StudentGetModel student in ViewBag.Students)
        {
            <tr>
                <td>@Html.ActionLink(student.FullName, "GetStudentById", new {studentId = student.StudentId})</td>
                <td>@student.Email</td>
                <td>@student.PhoneNumber</td>
                <td>@student.IdentificationCode</td>
                <td>@student.BirthDate</td>
                <td>@student.PassportIdentifier</td>
                <td>@student.StudentTicket</td>
                <td>@student.FacultyName</td>
            </tr>
        }
        </tbody>
    </table>
</div>